div {
    color: white;
}

@keyframes openEfectTecn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes openEfectReverseTecn {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

main {
    animation-name: animationJank;
        animation-duration: 0.5s;
}

@media (min-width: 320px) {

    .right,
    .p2,
    .p3 {
        justify-content: center;

        animation-duration: 0.25s;
    }

    main {
        text-align: initial;
        display: flex;
        flex-direction: column; 
    }

    .opciones {
        font-size: 30px;
        border: 1px solid gray;
        border-radius: 70px;
        width: 70px;
        height: 70px;
        background-color: #fff0;
        justify-content: center;
        display: flex;
        cursor: pointer;
        float: left;
        justify-content: center;
        align-items: center;
    }

    .float {
        float: none;
        margin: 0;
        font-size: 20px;
    }

    #gray {
        color: gray;
        margin-right: 20px;
    }

    #titulo {
        display: inline-block;
        margin-top: 40px;
    }

    .p2 {
        text-transform: uppercase;
        font-size: 50px;
        margin: 0;
    }

    .right img {
        width: 80%;
    }

    #titulo p {
        float: left;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .right {
        margin: 4rem auto;
        text-align: center;
    }

    .contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divContenidoNum {
        display: flex;
        margin: 2rem 0;
        column-gap: 3vw;
    }

}

@media (min-width: 768px) {
    .float {
        float: none;
        margin: 0;
        font-size: 20px;
    }

    #gray {
        color: gray;
        margin-right: 20px;
    }

    .p2 {
        text-transform: uppercase;
        font-size: 50px;
        margin: 0;
    }

    .p3 {
        line-height: 25px;
    }

    div div img {
        width: 43vh;
    }
    main{
        height: 100vh;

    }

}

@media (min-width: 1281px) {
    main {
        flex-direction: row;
    }

    .divContenidoNum {
        row-gap: 2vw;
        flex-direction: column;
        margin: 0;

    }

    #gray {
        color: gray;
        margin-right: 1.4vw;
    }


    .opciones {
        border: 0.1vw solid gray;
        border-radius: 4.5vw;
        width: 4.5vw;
        height: 4.5vw;
        font-size: 2vw;
    }

    #titulo {
        margin: 0;
        width: 100%;
    }

    .contenido {
        margin-top: 5.5vw;
        flex-direction: row;
    }

    .txt {
        width: 31vw;
        text-align: left;
        margin-left: 4vw;
    }

    .p1 {
        font-size: 1.2vw;
    }

    .p2 {
        text-transform: uppercase;
        font-size: 3vw;
        margin: 0;
    }

    .p3 {
        font-size: 1.2vw;
        line-height: 1.6;
        height: 12vw;
    }

    div div img {
        right: 0;
        position: absolute;
        margin-top: -120px;
        width: 60vh;
    }

    .left {
        margin-left: 10vw;
        justify-content: center;
        width: 40vw;
    }

    .float {
        font-size: 1.4vw;
    }

    .right {
        width: 50vw;
        display: flex;
        align-items: center;
    }

    .right img {
        width: 60%;
        margin-left: auto;
    }

    .right,
    .p2,
    .p3 {
        justify-content: start;
    }

}