<main>
    <div data-aos="fade-up" class="opciones">
        <div class="titulo">
            <p class="flotante p01">01 </p>
            <p id="txtP" class="flotante"> PICK YOUR DESTINATION</p>
        </div>
        <div  class="estructuraImg">
            <img [ngStyle]="{'display':displayAnimation,'animation-name':nameAnimation}" class="imgdestino animation" src="{{imagenDestino}}" alt="ImagenDestino">
            </div>
    </div>
    <div class="txt">
        <ul>
            <li [ngStyle]="{'box-shadow':bordeMoon}" class="bordeDestination" (click)="moon()">MOON</li>
            <li [ngStyle]="{'box-shadow':bordeMars}" class="bordeDestination" (click)="mars()">MARS</li>
            <li [ngStyle]="{'box-shadow':bordeEuropa}" class="bordeDestination" (click)="europa()">EUROPA</li>
            <li [ngStyle]="{'box-shadow':bordeTitan}" class="bordeDestination" (click)="titan()">TITAN</li>
        </ul>
        <div data-aos="zoom-in" class="info animation" [ngStyle]="{'display':displayAnimation,'animation-name':nameAnimation}">
            <p id="nombre">{{nombreDestination}}</p>
            <p id="descripcion">{{descripcionDestination}}</p>
            <div id="linea"></div>
            <div class="div-Distacia">
                <div class="avg ">
                    <p>AVG. DISTANCE</p>
                    <p class="datosinfo" id="distancia">{{distanicaDestination}}</p>
                </div>
                <div class="est ">

                    <p>EST. TRAVEL TIME</p>
                    <p class="datosinfo" id="viaje">{{viajeDestination}}</p>
                </div>
            </div>
        </div>
    </div>
</main>