<header (window:resize)="onResize($event)">

    <div>
        <img src="./assets/shared/logo.svg" alt="logo">
    </div>
    <nav>
        <div id="liniaNav"></div>

        <div *ngIf="ocultarNav">
            <ul>
                <li [ngStyle]="{'box-shadow': barrahome}" (click)="HOME()"><b>00</b> HOME</li>
                <li [ngStyle]="{'box-shadow': barradestination}" (click)="DESTINATION()"><b>01</b> DESTINATION</li>
                <li [ngStyle]="{'box-shadow': barracrew}" (click)="CREW()"><b>02</b> CREW</li>
                <li [ngStyle]="{'box-shadow': barratechnology}" (click)="TECHNOLOGY()"><b>03</b> TECHNOLOGY</li>
            </ul>
            <br>
        </div>
        <div *ngIf="ocultarNavHamburger" id="menuHamburgesa">
            <img id="menu" src="./assets/shared/icon-hamburger.svg" alt="menuHamburgesa" (click)="MostrarContenido()">
            <br>
            <ul *ngIf="ocultarContenidoHamburger">
                <li class="li1" (click)="HOME()"><b>00</b> HOME</li>
                <br>
                <div class="lineaNAV"></div>
                <br>
                <li (click)="DESTINATION()"><b>01</b> DESTINATION</li>
                <br>
                <div class="lineaNAV"></div>
                <br>
                <li (click)="CREW()"><b>02</b> CREW</li>
                <br>
                <div class="lineaNAV"></div>
                <br>
                <li (click)="TECHNOLOGY()"><b>03</b> TECHNOLOGY</li>
            </ul>
        </div>

    </nav>
</header>