<main>
    <div data-aos="zoom-out" id="info">
        <div id="txt1">
            <p id="p1">02</p>
            <p>MEET YOUR CREW</p>
        </div>
        <div id="txt2" [ngStyle]="{'display':displayAnimation,'animation-name':nameAnimation}">
            <p id="role">{{role}}</p> 
            <p id="name">{{name}}</p> 
            <p id="bio">{{bio}}</p>
        </div>
        <div id="txt3">
            <div [ngStyle]="{'background-color':selecPrimero}" class="btn" (click)="primero()"></div>
            <div [ngStyle]="{'background-color':selecSegundo}" class="btn" (click)="segundo()"></div>
            <div [ngStyle]="{'background-color':selecTercero}" class="btn" (click)="tercero()"></div>
            <div [ngStyle]="{'background-color':selecCuarto}" class="btn" (click)="cuarto()"></div>
        </div>
    </div>
    <div id="img" [ngStyle]="{'display':displayAnimation,'animation-name':nameAnimation}">
        <img src="{{imgCrew}}"  alt="">
    </div>
</main>